@{
    ViewBag.Title = "Rent Your Vehicle Out. Make Money.";
}

<div class="container">
    <hr />
    <div class="row">
        <img src="~/images/car_mosaic.jpg" alt="car mosaic" class="img-responsive center-block img-rounded imgCentered" />
    </div>
    <hr />
    <h1 class="homePageTitle">@ViewBag.Title</h1>
</div>