@model Autentals.ViewModels.AppViewModel

@{
    ViewBag.Title = "Customer Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
@foreach (var customer in Model.Customers)
{
    <h3>@customer.FirstName &nbsp; @customer.LastName</h3>
    <h5>Date of Birth: @customer.BirthDate.ToShortDateString()</h5>
}

