@model Autentals.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddNewCustomer", "Customers"))
{
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input class="form-control" id="FirstName" placeholder="Required" required>
        
        <p>&nbsp;</p>

        <label for="LastName">Last Name</label>
        <input class="form-control" id="LastName" placeholder="Required" required>
        
        <p>&nbsp;</p>

        <label for="BirthDate">Date of Birth</label>
        <input type="date" class="form-control" id="BirthDate" required>
        
        <p>&nbsp;</p>

        <label>Select Membership</label>
        <select class="form-control" required>
            <option disabled selected>Select Membership Type</option>
            @foreach (var membership in Model.MembershipInformation)
            {
                <option>@membership.MembershipName</option>
            }
        </select>
        
        <p>&nbsp;</p>

        <button type="submit" class="btn btn-success">Save</button>
    </div>
}

