@model Autentals.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "Add New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SaveCustomer", "Customers"))
{
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input class="form-control" id="FirstName" name="firstName" placeholder="Required">
        <label style="color:orangered" id="fnLblError"></label>

        <p>&nbsp;</p>

        <label for="LastName">Last Name</label>
        <input class="form-control" id="LastName" name="lastName" placeholder="Required" required>
        <label style="color:orangered" id="lnLblError"></label>

        <p>&nbsp;</p>

        <label for="BirthDate">Date of Birth</label>
        <input type="date" class="form-control" name="birthDate" id="BirthDate">
        <label style="color:orangered" id="bdayLblError"></label>

        <p>&nbsp;</p>

        <label>Select Membership</label>
        <select class="form-control" id="membershipName" name="membershipName">
            <option disabled selected value="">Available Memberships</option>
            @foreach (var membership in Model.MembershipInformation)
            {
                <option>@membership.MembershipName</option>
            }
        </select>

        <p>&nbsp;</p>

        <button type="submit" class="btn btn-success disabled" id="submitBtn"  style="margin-right: 20px">Save</button>

        &nbsp;
    </div>
}
<button class="btn btn-danger" onclick="location.href = '@Url.Action("AllCustomers", "Customers", null)'">
    Cancel
</button>

@section scripts {
    <script type="text/javascript" src="~/Scripts/date.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fnLblError').hide();
            $('#lnLblError').hide();
            $('#bdayLblError').hide();

            var errorFirstName = false;
            var errorLastName = false;
            var errorBday = false;

            $('#FirstName').focusout(function () {
                var firstNameCheck = $('#FirstName').val().length;

                if (firstNameCheck < 2 || firstNameCheck > 20) {
                    $('#fnLblError').html("Error: Enter a name between 2 - 20 characters");
                    $('#fnLblError').show();

                    errorFirstName = false;
                    checkbutton();

                } else {
                    $('#fnLblError').hide();
                    errorFirstName = true;
                    checkbutton();
                };
            });

            $('#LastName').focusout(function () {
                var lastNameCheck = $('#LastName').val().length;

                if (lastNameCheck < 2 || lastNameCheck > 20) {
                    $('#lnLblError').html("Error: Enter a name between 2 - 20 characters");
                    $('#lnLblError').show();

                    errorLastName = false;
                    checkbutton();

                } else {
                    $('#lnLblError').hide();
                    errorLastName = true;
                    checkbutton();
                };
            });

            $('#BirthDate').focusout(function () {
                var userInputDateValue = $('#BirthDate').val();

                var getMinAgeDate = Date.today().addYears(-16);
                var minAgeDate = getMinAgeDate.toString('yyyy-MM-dd');

                if (userInputDateValue > minAgeDate) {
                    $('#bdayLblError').html("Error: You must be at least 16 years old");
                    $('#bdayLblError').show();

                    errorBday = false;
                    checkbutton();

                } else {
                    $('#bdayLblError').hide();
                    errorBday = true;
                    checkbutton();

                };
            });

            var checkbutton = function () {
                if (errorFirstName && errorLastName && errorBday) {
                    $('#submitBtn').removeClass('disabled');
                }
                else {
                    $('#submitBtn').addClass('disabled');
                }
            };
        });
    </script>
}


