@model Autentals.ViewModels.NewCustomerFormViewModel
@{
    ViewBag.Title = "New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateNewCustomer", "Customers"))
{
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input class="form-control" id="FirstName" name="firstName" placeholder="Required" required>
        
        <p>&nbsp;</p>

        <label for="LastName">Last Name</label>
        <input class="form-control" id="LastName" name="lastName" placeholder="Required" required>
        
        <p>&nbsp;</p>

        <label for="BirthDate">Date of Birth</label>
        <input type="date" class="form-control" name="BirthDate" id="BirthDate" required>
        
        <p>&nbsp;</p>

        <label>Select Membership</label>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Available Memberships
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
               @foreach (var membership in Model.MembershipInformation)
               {
                   <li><a name="MembershipTypeId">@membership.MembershipName</a></li>
               }
            </ul>
        </div>
        
        <p>&nbsp;</p>

        <button type="submit" class="btn btn-success">Save</button>
    </div>
}

