@model Autentals.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "Add New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SaveCustomer", "Customers"))
{
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input class="form-control" id="FirstName" name="firstName" placeholder="Required" required>
        
        <p>&nbsp;</p>

        <label for="LastName">Last Name</label>
        <input class="form-control" id="LastName" name="lastName" placeholder="Required" required>
        
        <p>&nbsp;</p>

        @*TODO: NEED TO ADD SOME CLIENT SIDE FOR AGE ABOVE 16 YEARS OLD - CURRENTLY THROWS TO ERROR PAGE*@
        <label for="BirthDate">Date of Birth</label>
        <input type="date" class="form-control" name="birthDate" id="BirthDate" required>
        
        <p>&nbsp;</p>

        <label>Select Membership</label>
        <select class="form-control" id="membershipName" name="membershipName" required>
            <option disabled selected value="">Available Memberships</option>
            @foreach (var membership in Model.MembershipInformation)
            {
                <option>@membership.MembershipName</option>
            }
        </select>

        <p>&nbsp;</p>

        <button type="submit" class="btn btn-success" style="margin-right: 20px">Save</button>
        
        &nbsp;
    </div>
}
<button class="btn btn-danger" onclick="location.href = '@Url.Action("AllCustomers", "Customers", null)'">
    Cancel
</button>

