@model Autentals.ViewModels.NewVehicleFormViewModel
@{
    ViewBag.Title = "Add New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateNewVehicle", "Vehicles"))
{
    <div class="form-group">
        <label for="Year">Year</label>
        <input class="form-control" id="Year" name="year" placeholder="Required" required>

        <p>&nbsp;</p>

        <label for="Make">Make</label>
        <input class="form-control" id="Make" name="make" placeholder="Required" required>

        <p>&nbsp;</p>

        <label for="Model">Model</label>
        <input class="form-control" id="Model" name="model" placeholder="Required" required>

        <p>&nbsp;</p>

        <label for="Color">Color</label>
        <input class="form-control" id="Color" name="color">

        <p>&nbsp;</p>

        <label for="IsConvertable">Does the vehicle have a convertable top?</label>
        <div class="radio">
            <label>
                <input type="radio" name="convertable" id="IsConvertable" value="1">
                Yes
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="convertable" id="IsConvertable" value="0">
                No
            </label>
        </div>

        <p>&nbsp;</p>

        <label for="Seats">Number of seats?</label>
        <input class="form-control" id="Seats" name="seats" maxlength="2" style="width: 60px">

        <p>&nbsp;</p>

        <label for="TransmissionType">Transmission Type?</label>
        <select class="form-control" id="TransmissionType" name="transmission">
            <option disabled selected>Select Tranmission</option>
            <option>Automatic</option>
            <option>Standard</option>
        </select>

        <p>&nbsp;</p>

        <button type="submit" class="btn btn-success">Save</button>
    </div>
}

