@model Autentals.ViewModels.NewVehicleFormViewModel
@{
    ViewBag.Title = "Create New Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateNewVehicle", "Vehicles"))
{
    <div class="form-group">
        <label for="Year">Year</label>
        <input class="form-control" id="Year" name="year" placeholder="Required" required>

        <p>&nbsp;</p>

        <label for="Make">Make</label>
        <input class="form-control" id="Make" name="make" placeholder="Required" required>

        <p>&nbsp;</p>

        <label for="Model">Model</label>
        <input class="form-control" id="Model" name="model" placeholder="Required" required>

        <p>&nbsp;</p>

        <label for="Make">Make</label>
        <input class="form-control" id="Make" name="make" placeholder="Required" required>

        <p>&nbsp;</p>

        <label for="Color">Color</label>
        <input class="form-control" id="Color" name="color">

        <p>&nbsp;</p>

        <label for="IsConvertable">Does the vehicle have a convertable top?</label>
        @*//This needs to have a bool value return*@
        <input class="form-control" id="IsConvertable" name="isConvertable">

        <p>&nbsp;</p>

        <label for="Seats">Number of seats?</label>
        @*//Needs int return*@
        <input class="form-control" id="Seats" name="seats">

        <p>&nbsp;</p>

        <label for="TransmissionType">Transmission Type?</label>
        @*//This needs a radio of automatic or manual*@
        <input class="form-control" id="TransmissionType" name="transmission">

        <p>&nbsp;</p>
        

        <button type="submit" class="btn btn-success">Save</button>
    </div>
}

