@model IEnumerable<Autentals.Models.Vehicle>
@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var className = Model.Count() > 3 ? "popular" : null;
}
<h2 class="@className">@Model</h2>

@if (Model.Count() == 0)
{
    <p>No one has rented this vehicle before.</p>
}
else
{
    <ul>
        @foreach (var vehicle in Model)
        {
            <li>@vehicle.Make + " " + @vehicle.Model</li>
        }
    </ul>
}
